$color-light-black: #000000;
$color-light-white: #ffffff;
$color-dark-black: #353434;
$color-dark-white: #ffffff;
$color-light-card-bg: #f3f3f3;
$character-card-border-radius: 0.8rem;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  width: 7rem;
  position: fixed;
}

.switch-theme {
  position: fixed;
  float: right;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.dark-mode {
  background-color: black;
  color: white;

  .github {
    border-radius: $character-card-border-radius;
    color: $color-dark-white;
    background-color: $color-dark-black !important;
  }
}

.nav-icon-list {
  svg {
    fill: $color-light-white !important;
  }
  .nav-icon {
    height: 3rem;
    margin: 2.5rem 0rem;
    fill: $color-light-white;
  }

  .active-nav-icon{


    svg {
      fill: red !important;
    }
    fill: red !important;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  height: 100vh;
  margin-left: 7rem;
  padding: 0 6rem;

  .profile-row {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .biography-col {
    margin: 1rem;
    width: 50%;
    border-radius: 8px;
    background-color: rebeccapurple;
  }

  .timeline-col {
    width: 50%;
    padding: 2rem;
    background-color: rgb(240, 240, 240);
    border-radius: $character-card-border-radius;

    .timeline-items-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.color {
  fill: red;
}

.projects {
  height: 100vh;
  margin-left: 7rem;
  padding: 0 6rem;

  .projects-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: darkcyan;
  }
  .project-item {
    border-radius: 8px;
    background-color: rgb(211, 211, 211);
    width: 40rem;
    margin: 1rem;

    .project-image-container {
      .project-image {
        width: auto;
      }
    }

    .project-info {
      padding: 2rem;
      color: rgb(255, 255, 255);
      background-color: #000000;

      .project-title-action-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .project-icons {
          display: flex;
          align-items: center;

          .project-code,
          .project-demo {
            margin: 0.5rem;
          }
        }
      }

      .seperator {
        height: 0.2rem;
        background-color: $color-dark-white;
      }
      .project-description {
        margin: 2rem 0;
        font-size: 1.2rem;
        text-align: justify;
      }

      .project-tech {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;

        .projects-techs {
          display: flex;

          .tech-icon {
            margin: 0.5rem;
          }
        }
      }

      .project-role-date {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;

        .project-role {
          display: flex;
          flex-direction: column;
          width: 50%;

          .role {
            margin-bottom: 0.5rem;
          }
        }

        .project-date {
          display: flex;
          flex-direction: column;
          width: 50%;

          .launched {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

.achievements {
  height: 100vh;
  margin-left: 7rem;
  padding: 0 6rem;

  .tech-comp-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    .tech-comp-icon-row {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin: 1rem 0;

      img {
        margin: 1.5rem;
      }
    }
  }

  .stats {
    display: flex;
    flex-direction: row;

    .stackoverflow {
      width: 40%;
      background-color: rgb(135, 135, 136);

      .medals {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .medal {
          display: flex;
          flex-direction: column;
          justify-content: center !important;
        }
      }
    }
    .github {
      display: flex;
      flex-direction: column;
      width: 60%;
      background-color: $color-light-card-bg;

      .github-numbers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.2rem;
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin-left: 7rem;
  padding: 0 6rem;

  .contact-socials {
    display: flex;
    flex-direction: row;

    .contact-form {
      margin: 1rem;
      padding: 4rem;
      width: 50%;
      background-color: #ebebeb;

      .form-row {
        margin: 1rem 0;

        .send-btn {
          padding: 1rem 0;
          width: 100%;
          background-color: $color-light-black;
          font-family: inherit;
          color: $color-dark-white;
          border: none;
        }

        .send-btn:hover {
          padding: 1rem 0;

          width: 100%;
          background-color: $color-dark-white;
          font-family: inherit;
          color: $color-light-black;
          border: none;
        }
      }
    }

    .socials {
      margin: 1rem;
      padding: 4rem;
      width: 50%;
      background-color: #d1d1d1;

      .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.2rem;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        // margin: 2rem 0;
        // au

        .item {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .name {
            font-size: 1.8rem !important;
          }
        }
      }
    }
  }
}

.scrollspy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $color-light-black;
  height: 100vh;
  width: 7rem;
  position: fixed;
  top: 0;

  ul {
    list-style: none !important;
  }
  
  img{
    height: 4rem !important;
  }
  
  li {
    list-style: none !important;
    margin: 2.5rem 0;
    svg{
      fill: white !important;
      height: 4rem !important;
    }
  
  }


  .nav-icon{
    svg{
      fill: white !important;
    }
  }



  a {
    color: white;
  }
  .isCurrent {
    font-weight: bold;
  }
  
  .isCurrent  svg {
    fill:red !important
  }
  
}



svg{
  fill : black !important
}