$color-light-black: #000000;
$color-light-white: #ffffff;
$color-dark-black: #353434;
$color-dark-white: #ffffff;
$color-light-card-bg: #f3f3f3;
$character-card-border-radius: 0.8rem;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  width: 7rem;
  position: fixed;
}

.switch-theme {
  position: fixed;
  float: right;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.dark-mode {
  background-color: black;
  color: white;
}

.nav-icon-list {
  svg {
    fill: $color-light-white !important;
  }
  .nav-icon {
    height: 3rem;
    margin: 2.5rem 0rem;
    fill: $color-light-white;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  height: 100vh;
  margin-left: 7rem;

  .profile-row {
    display: flex;
    width: 100%;
    background-color: sandybrown;
    flex-direction: row;
  }

  .biography-col {
    margin: 1rem;
    width: 50%;
    border-radius: 8px;
    background-color: rebeccapurple;
  }

  .timeline-col {
    width: 50%;
    background-color: saddlebrown;

    .timeline-items-row {
      background-color: darkblue;
    }
  }
}

.color {
  fill: red;
}
