@import "./scss/variables.scss";

.App {
  text-align: center;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("./fonts/sf/SFNSDisplay-Light.otf");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("./fonts/sf/SFNSText-RegularG3.otf");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("./fonts/sf/SFNSDisplay-Regular.otf");
}

.Toastify__toast-body {
  font-family: "Calibre" !important;
  font-size: 2rem !important;
}

.tooltip {
  margin-left: 1rem !important;
}

#tooltip-right > .tooltip-inner {
  background-color: #000;
  color: #fff;
  border: 1px solid #062e56;
  font-size: 1.2rem;
}

#button-tooltip {
  font-size: 2rem !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  width: 7rem;
  position: fixed;
}

.switch-theme {
  position: fixed;
  float: right;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.dark-mode {
  background-color: black;
  color: white;

  .technologies-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .technology {
      background-color: rgb(44, 44, 44) !important;
    }
  }
  .experience {
    background-color: rgb(26, 26, 26) !important;
    border: 2px solid rgb(44, 44, 44) !important;
    color: rgb(219, 219, 219) !important;
  }
  .reachout-form {
    label {
      width: 100%;
      text-align: left;
      font-size: 1.5rem;
    }
    input {
      background-color: transparent !important;
      border: 2px solid rgb(104, 104, 104) !important;
      color: white !important;
    }

    button {
      display: block;
      width: 100%;
    }
  }

  .badge-green {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    margin: 0 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .underlined-text {
    color: white !important;
    position: relative;
    text-decoration: none;
    display: inline-block;
  }

  .project-container {
    .project-grid {
      .project {
        border: 2px solid rgb(44, 44, 44) !important;
        background-color: rgb(26, 26, 26) !important;
      }
    }
  }

  .email {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid $text-color-lighter;
    cursor: pointer;
    img {
      padding: 0 0.6rem;
    }

    a {
      color: white !important;
      text-decoration: none;
    }

    a:hover {
      color: $text-color-lighter !important;
    }
  }

  .home-container {
    .hello-text {
      color: $dark-text-color-lighter;
    }

    .name-text {
      color: $dark-text-color-dark;
    }

    .def-text {
      color: $dark-text-color-light;
    }
  }
}

ul {
  padding-left: 0 !important;
}

.scrollspy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-light-black;
  height: 100vh;
  width: 7rem;
  position: fixed;
  top: 0;

  ul {
    margin-bottom: 0 !important;
    list-style: none !important;
  }

  img {
    height: 4rem !important;
  }

  li {
    list-style: none !important;
    margin: 2.5rem 0;

    svg {
      fill: rgb(134, 134, 134) !important;
      height: 2.7rem !important;
    }
  }

  .isCurrent {
    font-weight: bold;
  }

  .isCurrent svg {
    fill: rgb(255, 255, 255) !important;
  }
}

.footer {
  font-size: 1rem;
  padding: 1rem;
  transition: 0.3s;
  color: $text-color-lighter;
}

@media screen and (min-width: 801px) {
  .profile {
    height: max-content;
  }

  .contact {
    display: flex;
    align-items: center;
  }

  .work {
    display: flex;
    align-items: center;
  }

  .project-grid {
    .project {
      padding: 5rem !important;
    }
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 42.6%;
  }

  .experience {
    .date-link {
      display: flex;
      flex-direction: column-reverse;
      order: 0;
    }

    .place {
      line-height: 28px !important;
    }

    .site {
      margin-bottom: 2rem;
    }

    .link {
      margin-bottom: 2rem;
    }

    .date {
      font-size: 1.5rem;
    }
  }

  .work-container {
    .accordion-button {
      font-size: 0.8rem !important;
      background-color: rgb(82, 82, 82) !important;
      color: rgb(243, 243, 243) !important;
    }

    .accordion-item {
      background-color: rgb(44, 44, 44) !important;
    }
  }

  .scrollspy {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
    height: 6rem;
    width: 100%;

    ul {
      width: 100% !important;
    }

    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none !important;
      width: 100%;

      svg {
        fill: rgb(134, 134, 134) !important;
        height: 2rem !important;
      }
    }
  }

  .switch-theme {
    position: absolute !important;
    margin-top: 8rem !important;
    margin-right: 1rem !important;
    width: 2rem;
    height: 2rem;
  }

  .home {
    margin-top: 6rem;
    margin-left: 6% !important;
    margin-right: 6% !important;
    height: 100vh !important;
  }

  .work {
    display: block;
    margin-left: 6% !important;
    margin-right: 6% !important;
    height: fit-content;
    padding: 6rem 0rem 10rem 0rem !important;
  }

  .projects {
    display: block;
    margin-left: 6% !important;
    margin-right: 6% !important;
    height: fit-content;
    padding: 0rem 0rem 10rem 0rem !important;

    .project-grid {
      .project {
        padding: 3rem !important;
      }
    }
  }

  .contact {
    display: flex;
    margin-left: 6% !important;
    margin-right: 6% !important;
    padding: 6rem 0rem 10rem 0rem !important;
  }

  .profile {
    display: block;
    margin-left: 6% !important;
    margin-right: 6% !important;
    height: fit-content !important;
    padding: 6rem 0rem 10rem 0rem !important;
    .profile-container {
      .profile-overview-text {
        margin-bottom: 1rem;
      }

      .technologies-grid {
        .technology {
          display: flex;
          padding: 0 !important;
          border-radius: 50%;
          width: fit-content;
          background-color: rgb(230, 230, 230);
        }
      }
    }
  }
}
