*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$color-light-black: #000000;
$color-light-white: #ffffff;
$color-dark-black: #353434;
$color-dark-white: #ffffff;
$color-light-card-bg: #f3f3f3;
$text-color-disable: #525252;
$character-card-border-radius: 0.8rem;

//responsive breakpoints
$bp-largest: 75em; //1200/16
$bp-large: 62.5em; //1000/16
$bp-medium: 50em; //800/16
$bp-small: 37.5em; //600/16

@font-face {
  font-family: "Calibre";
  src: url(fonts/calibre/CalibreRegular.otf);
}

// .module {
//   cursor: url('path-to-image.png'), auto;
// }

html {
  font-size: 62.5%;
  font-family: "Calibre", sans-serif;
  scroll-behavior: smooth;
}

.switch-theme {
  position: fixed;
  float: right;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15%;
}

.profile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15%;
}

.work {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15%;
}

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 15%;
}

.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 15%;
}

.achievements {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 15%;
}

@media screen and (max-width: 1366px) {
  .achievements,
  .projects,
  .profile,
  .contact {
    margin-top: 5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    height: 100vh;
  }
}

@media screen and (max-width: 980px) {
  .home {
    height: 100vh;
    margin: 0 15%;
  }

  .profile {
    height: 100vh;
    margin: 0 15%;
  }

  .work {
    height: 100vh;
    margin: 0 15%;
  }

  .projects {
    height: 100vh;
    margin: 0 15%;
  }

  .achievements {
    height: 100vh;
    margin: 0 15%;
  }
}

@media screen and (max-width: 376px) {
  .home {
    display: flex !important;
    justify-content: center !important;
    height: 100vh !important;
    margin: 0 4% !important;
    margin-top: 7rem !important;
    margin-right: 0 !important;
  }

  .profile {
    height: 100vh !important;
    margin: 0 4% !important;
    margin-top: 7rem !important;
    margin-right: 0 !important;
  }

  .projects {
    display: flex;
    margin: 0 4%;
    margin-top: 10rem !important;
  }

  .achievements {
    display: flex !important;
    height: 100vh !important;
    margin: 0 4% !important;
    margin-top: 10rem !important;
  }

  .contact {
    display: flex !important;
    height: 100vh !important;
    margin: 0 4% !important;
    margin-top: 10rem !important;
  }
}
