@import "./variables.scss";

.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;

  .project-heading {
    color: $text-color-lighter;
    text-align: left;
    font-size: 5rem !important;
    font-weight: 600;
    margin-bottom: 2rem;
    padding: 0 2rem;
    transition: 0.3s;
    font-family: "San Francisco";
  }

  .accordion {
    font-family: "San Francisco" !important;
  }

  .accordion-button {
    font-size: 2rem !important;
    background-color: rgb(180, 180, 180);
    color: black;

    svg {
      margin-right: 0.5rem;
    }
  }

  .accordion-item {
    background-color: rgb(241, 241, 241);
  }

  .accordion-body {
    text-align: left;
    font-size: 1.8rem;
  }

  .badge-green {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 70, 128);
    color: white;
    margin: 0 1rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 2rem;
  }

  .project-grid {
    .project {
      background-color: rgb(231, 231, 231);
      padding: 2rem;
      margin-top: 5rem;
      display: grid;
      order: 3;
      grid-template-columns: repeat(2, 1fr);

      .image {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(201, 201, 201) !important;
        border-radius: 1rem;
        padding: 2rem !important;
        img {
          width: 100% !important;
        }
      }

      .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 2rem;
        .demo {
          padding: 1rem;
        }

        .git {
          padding: 1rem;
        }
      }

      .desc {
        padding: 3rem;
        .heading {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .text {
          text-align: justify;
          font-size: 1.5rem;
        }

        .techs {
          display: flex;
          flex-direction: row;
          border-top: 2px solid grey;
          margin-top: 1rem;
          border-bottom: 2px solid grey;
          margin-bottom: 1rem;

          .tech {
            width: fit-content;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 50%;
            background-color: rgb(0, 0, 0);
          }
        }

        .role-date {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.5rem;
        }
      }
    }
  }

  .desc-photo {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    .photo {
      display: flex;
      align-items: center;
      width: 50%;
      padding: 1rem;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .project-container {
    .project-grid {
      .project {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 1364px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 712px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;

    .project {
      .name-links {
        .name {
          font-size: 2rem !important;
        }
        .link {
          img {
            margin-left: 1rem;
            border: 2px solid transparent;
            transition: 0.3s;
            cursor: pointer;
          }

          img:hover {
            border-bottom: 2px solid $text-color-lighter;
          }
        }
      }

      .desc {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .date-role {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem !important;

        .date {
          font-size: 2rem;
        }

        .role {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .project-container {
    .project-heading {
      font-size: 4rem !important;
    }

    .projects-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;

      .project {
        margin: 0.5rem !important;
        .name-links {
          .name {
            font-size: 1.7rem !important;
          }
          .link {
            img {
              margin-left: 1rem;
              border: 2px solid transparent;
              transition: 0.3s;
              cursor: pointer;
            }

            img:hover {
              border-bottom: 2px solid $text-color-lighter;
            }
          }
        }

        .desc {
          font-size: 1.7rem !important;
          margin-bottom: 1rem;
        }

        .date-role {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 1rem !important;

          .date {
            font-size: 1.7rem !important;
          }

          .role {
            font-size: 1.7rem !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .project-container {
    margin-top: 11rem;

    .project-heading {
      padding: 0 1rem !important;
    }

    .desc-photo {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .photo {
        width: 100%;
      }

      .desc {
        width: 100%;
      }
    }
  }
}
