@import "./variables.scss";

.project-container {
  width: 100%;

  .project-heading {
    display: flex;
    color: $text-color-lighter;
    text-align: left;
    font-size: 7rem !important;
    font-weight: 600;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;

    .item {
      background-color: rgb(63, 63, 63);
      padding: 1.5rem;
      color: white;

      .name-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .name {
          text-align: left;
          font-size: 2.4rem;
          font-weight: 600;
        }

        .icons {
          display: flex;
          svg {
            margin: 0 0.5rem;
            fill: rgb(212, 212, 212) !important;
          }
        }
      }

      .desc,
      .tech,
      .contribution,
      .release {
        padding: 1rem 0;
        text-align: left;
        font-size: 1.5rem;
      }
    }
  }
}
