@import "../scss/variables.scss";

.reachout-container {
  width: 100%;

  .reachout-heading {
    color: $text-color-lighter;
    text-align: left;
    font-size: 5rem !important;
    font-weight: 600;
    margin-bottom: 2rem;
    padding: 0 2rem;
    transition: 0.3s;
    font-family: "San Francisco";
  }

  .form-socials {
    display: flex;

    .reachout-form {
      display: flex;
      flex-direction: column;
      padding: 0 3rem 0 0;
      width: 100%;
      border-right: 2px solid $text-color-lighter;

      label {
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
      }
      input {
        font-size: 2rem;
      }

      button {
        display: block;
        width: 100%;
      }
    }

    .email-socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10rem;
      width: 100%;

      .email-text {
        font-size: 2rem;
        transition: 0.3s;
      }
      .email {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        margin-top: 3rem;
        border-bottom: 2px solid $text-color-lighter;
        cursor: pointer;

        img {
          padding: 0 0.6rem;
        }

        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          transition: 0.3s;
        }

        a:hover {
          color: $text-color-lighter;
        }
      }

      .socials {
        padding-top: 4rem;

        .social-text {
          font-size: 2rem;
          transition: 0.3s;
        }

        .social-icons {
          display: flex;
          flex-direction: row;
          .social {
            transition: transform 0.2s;
            margin-top: 4rem;
            padding: 1rem;
          }
        }

        .social:hover {
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); /* Safari 3-8 */
          transform: scale(1.5);
        }
      }
    }
  }
}

@media screen and (max-width: 1224px) {
  .form-socials {
    display: flex;
    flex-direction: column;

    .reachout-form {
      padding: 0 !important;
      border-right: none !important;
      border-bottom: 2px solid $text-color-lighter;
      padding-bottom: 1rem !important;
    }

    .email-text {
      padding-bottom: 1rem;
    }
    .email-socials {
      padding-top: 2rem !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .reachout-container {
    .reachout-heading {
      font-size: 4rem !important;
    }
  }
}

@media screen and (max-width: 376px) {
  .reachout-container {
    .reachout-heading {
      padding: 0 1rem !important;
    }

    .form-socials {
      .email-socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .email-text {
          font-size: 2.2rem !important;
        }

        .email {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 2.2rem;
          border-bottom: 2px solid $text-color-lighter;
          cursor: pointer;

          img {
            padding: 0 0.6rem;
          }

          a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            transition: 0.3s;
          }

          a:hover {
            color: $text-color-lighter;
          }
        }
      }
    }
  }
}
