$color-light-black: #000000;
$color-light-white: #ffffff;
$color-dark-black: #353434;
$color-dark-white: #ffffff;
$color-light-card-bg: #f3f3f3;
$character-card-border-radius: 0.8rem;
$links-color: rgb(12, 151, 206);

$text-color-lighter: rgb(119, 119, 119);
$text-color-light: #5a5a5a;
$text-color-dark: #000000;
$text-color-darker: #010101;

$dark-text-color-lighter: #b8b8b8;
$dark-text-color-light: #b8b8b8;
$dark-text-color-dark: #ffffff;
$dark-text-color-darker: #df0101;
$highlight-color: rgb(141, 141, 141);
$test: rgb(146, 146, 146);
