@import "./variables.scss";

.work-container {
  width: 100%;
  font-size: 2rem;
  .work-heading {
    color: $text-color-lighter;
    text-align: left;
    font-size: 5rem !important;
    font-weight: 600;
    margin-bottom: 2rem;
    padding: 0 2rem;
    transition: 0.3s;
    font-family: "San Francisco";
  }

  .accordion-button {
    font-size: 2rem !important;
  }

  .accordion-body {
    text-align: left;
  }
}
